body {
  background-color: #76daff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23E9FCFF' stroke-width='100' stroke-opacity='0' %3E%3Ccircle fill='%2376DAFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2370d0fa' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%236bc7f4' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2367bdee' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2364b3e7' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2362a9e1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23619fd9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%236195d2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23618cc9' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%236182c1' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%236278b8' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23636eae' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236364a5' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23635b9a' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23635190' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23634785' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23623d79' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2360336E' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.single-product-item {
  background-color: #fff;
}

img {
  background-position: center;
}

.cont-optionsCode {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  width: 100%;
  height: 100vh;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 700;
  opacity: 0;
  visibility: hidden;
}

.divcont {
  width: 50vw;
  height: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #ccc;
  position: relative;
  max-width: 100%;
  max-height: 96%;
  overflow-y: auto;
}

.cont-optionsCode > h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.subcont-optionsCode {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(228, 227, 227);
  border-radius: 5px;
  padding: 10px;
}

.subcont-optionsCode > input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.cont-optionsCode > form > input[type="submit"] {
  margin-top: 10px;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.icon-close {
  position: absolute;
  font-size: large;
  font-weight: bolder;
  color: black;
  padding: 5px;
  border-radius: 10%;
  top: 3px;
  right: 10px;
  cursor: pointer;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.icon-close:hover {
  color: rgb(255, 93, 93);
}

.Description-code {
  overflow: auto;
  width: 100%;
  height: 90px;
  max-width: auto;
  min-height: 75px;
  max-height: 130px;
}

#FileLinkPath {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.cont-button {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 3rem;
  display: block;
  right: 2rem;
  border: 2px solid;
  border-radius: 10px;
  padding: 0.5rem;
}
.cont-button:hover {
  background-color: rgb(226, 239, 255);
}

/*----item qr css customization---*/

.single-product-item:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.product-image img {
  width: 100%;
  height: 100%;
  padding: 2rem;
  object-fit: scale-down;
}

.divcont input[type="submit"] {
  margin-top: 2rem;
}

.cont-buttonform {
  right: 5px;
  top: 50vh;
  width: 100px;
  height: fit-content;
  position: absolute;
  animation: identifier 3s linear 1s 2;
  -webkit-animation: identifier 3s linear 1s 2;
}

@keyframes identifier {
  0% {
    opacity: 0;
    rotate: 0deg;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    rotate: 180deg;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    rotate: 360deg;
    visibility: visible;
  }
}