.container{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    max-height: 35rem;
}
.container > div, .container {
    /* margin: 10px; */
}
.header{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
}
.header img{
    width: 100%;
    height: 100%;
    
    
}
.body{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}
.footer{
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
}