@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
div, form, input, select, textarea, p {
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 22px;
}
.container_form {
	margin: 10em auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {				
	position: relative;	
	height: 90%;
	width: 60%;	
	box-shadow: 0px 0px 10px #433994;
	border-radius: 10px;
}

.screen__content {
	border-radius: 10px;
	z-index: 1;
	position: relative;	
	height: 100%;

}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}


.screen__background__shape3 {
	height: 520px;
	width: 220px;
	background: linear-gradient(270deg, #6458be, #8a87cb);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.screen__background__shape5 {
	height: 350px;
	width: 200px;
	background: #7E7BB9;	
	top: 1150px;
	right: -60px;	
	border-radius: 40px;
}
.screen__background__shapea {
	height: 300px;
	width: 300px;
	background: linear-gradient(270deg, #2d4b83, #8a87cb);
	top: -50px;
	right: -45px;	
	border-radius: 100%;
}
.screen__background__shapeb {
	height: 200px;
	width: 200px;
	background: #5e7fac;	
	top: 250px;
	right: -50px;	
	border-radius: 100px;
}

.screen__background__shapec {
	height: 200px;
	width: 200px;
	background: linear-gradient(270deg, #41488f, #87b1cb);	
	top: 1450px;
	right: -50px;	
	border-radius: 100px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
h5 {
margin: 10px 0;
}
.testbox {
display: flex;
justify-content: center;
align-items: baseline;
height: inherit;
padding-top: 20px;
}
form {
width: 60%;
padding: 20px;
border-radius: 10px;
}
input, select, textarea {
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}
input {
width: calc(100% - 10px);
padding: 5px;
}
select {
width: 100%;
padding: 7px 0;
background: transparent;
}
textarea {
width: calc(100% - 12px);
padding: 5px;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
color: #4b0081;
}
.item input:hover, .item select:hover, .item textarea:hover {
border: 1px solid transparent;
box-shadow: 0 0 6px 0 #4b0081;
color: #4b0081;
}
.item {
position: relative;
margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
position: absolute;
font-size: 20px;
color: #a9a9a9;
}
.item i {
right: 2%;
top: 30px;
z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
right: 1%;
z-index: 2;
opacity: 0;
cursor: pointer;
}
input[type=radio], input[type=checkbox]  {
display: none;
}
label.radio, label.check {
position: relative;
display: inline-block;
margin: 5px 20px 15px 0;
cursor: pointer;
}
.question span {
margin-left: 30px;
}
span.required {
margin-left: 0;
color: red;
}
.checkbox-item label {
margin: 5px 20px 10px 0;
}
label.radio:before, label.check:before {
content: "";
position: absolute;
left: 0;
}
label.radio:before {
width: 17px;
height: 17px;
border-radius: 50%;
border: 2px solid #4b0081;
}
label.check:before {
top: 2px;
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid #4b0081;
}
input[type=checkbox]:checked + .check:before {
background: #4b0081;
}
label.radio:after {
left: 5px;
border: 3px solid #4b0081;
}
label.check:after {
left: 4px;
border: 3px solid #fff;
}
label.radio:after, label.check:after {
content: "";
position: absolute;
top: 6px;
width: 8px;
height: 4px;
background: transparent;
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
}
input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
opacity: 1;
}
.btn-block {
margin-top: 10px;
text-align: center;
}
button {
width: 200px;
padding: 10px;
border: none;
border-radius: 15px; 
background: #4b0081;
font-size: 16px;
color: #fff;
cursor: pointer;
}
button:hover {
background: #4b0081;
}
@media (min-width: 568px) {
.city-item {
flex-wrap: wrap;
justify-content: space-between;
}
.city-item input {
width: calc(50% - 20px);
}
.city-item select {
width: calc(50% - 8px);
}
}
#button{
  cursor:pointer !important;
  top:30%;
  position:relative;
    margin-left: auto;
  margin-right: auto;
  width:135px;
  height:50px;
  border-radius:60px;
  background:#41488f;
  line-height:46px;
  text-align:center;
  color:ivory;
  font-weight:500;
  overflow:hidden;
  letter-spacing:.52px;
}
#w{
  position:absolute;
  text-align:center;
  color:#e6e9ec;
  font-weight:900;
  left:38.5%;
  transform:scale(1.5) translateY(100%);
  
}
i{
	color: white;
}