@media screen and (max-width: 900px) {
  .divcont {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .testbox > form {
    width: 95%;
  }
  .divcont {
    width: 100vw;
  }
  .product-image {
    padding: 15px !important;
  }
  .product-image img {
    padding: 0rem;
  }
}