* {
  box-sizing: border-box;
}
body{
  background-color: #EDD0FF;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%238897cc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%233267aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%238186cd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%233f5dab' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238174cc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%235151a9' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23875ec5' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%236442a3' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239144ba' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23772d98' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%239d16aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

/* price table specefic typography */
.price-table .heading {
    color: #4ab7cf;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 1em;
  }
.price-table .description {
    color: #000000;
    font-size: 16px;
  }
.price-table .price {
     color: #000000;
    font-size: 42px;
    font-weight: 700px;
    letter-spacing: -2px;
    line-height: 58px;
  }

.price-table .included {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
  }
.price-table .excluded {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

/* component */

#price-tables {
  text-align: center;
}

#price-tables .subheader {
    max-width: 700px;
  }

#price-tables .table-container {
    width: 70%;
    min-width: 1100px;
    height: 550px;
    background: #ffffff;
    margin: 0 auto;
    box-shadow: -4px -2px 4px 0px #4b00818a;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

#price-tables .price-table {
    flex-direction: column;
    justify-content: space-between;
    width: 33.3333%;
    height: 100%;
    padding: 2em;
    border-right: 1px solid #000000;
  }

#price-tables .price-table.featured {
    background: #4b0081;
  }

#price-tables .price-table.featured .heading,
    #price-tables .price-table.featured .description,
    #price-tables .price-table.featured .price,
    #price-tables .price-table.featured .included,
    #price-tables .price-table.featured .excluded {
      color: rgb(255, 255, 255);
    }

#price-tables .price-table.featured .buy-button {
      position: relative;
      border: none;
      color: white;
      background: #4ab7cf;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }

#price-tables .content {
    padding: 1em 0 1em 0;
    border-top: 2px solid #ababab;
    border-bottom: 2px solid #ababab;
  }



#price-tables .selling-points {
    width: 100%;
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
    text-align: left;
    padding-top: 1em;
  }

#price-tables .included,
  #price-tables .excluded {
    padding: 1em 0;
  }

#price-tables i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 1em;
  }

#price-tables .included i {
    color: #7dc855;
  }

#price-tables .excluded i {
    color: tomato;
  }

#price-tables .buy-button {
    display: block;
    color: #358ed7;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    border: 2px solid #4b0081;
    border-radius: 6px;
    padding: .75em 0;
    margin: 2em 0 0 0;
  }

#price-tables .buy-button:hover {
      border: 2px solid #7dc855;
      background: #7dc855;
      color: white;
    }

@media screen and (max-width: 1070px) {
  #price-tables {
    padding: 3rem 1rem;
  }
    
    #price-tables .table-container {
      flex-direction: column;
      align-items: center;
      min-width: 0;
      width: auto;
      height: auto;
      background: none;
      border-radius: none;
      box-shadow: none;
    }
    
    #price-tables .price-table {
      width: 100%;
      border: none;
      background: white;
      margin-bottom: 1em;
      border-radius: 6px;
      box-shadow: 0px 2px 6px -2px black;
    }
      
      #price-tables .price-table:last-child {
        border-radius: 6px;
      }
      
      #price-tables .price-table.featured {
        background: #4b0081;
      }
    
/*       display: none; */
      
      #price-tables .selling-points li:last-child {
        margin-bottom: 1em;
      }
    
    #price-tables .buy-button {
      margin-top: 0;
      background: #7dc855;
      color: white;
      border: 2px solid #7dc855;
    }
}