<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="width:100% ; background-color: rgb(255, 255, 255); height: 110%; margin: 0 auto; max-width: 600px;">
        <h1 style="font-size: 25px; padding: 1rem; display: block; border-left: 15px solid rgb(0, 195, 255); 
        background-color: rgb(226, 226, 227);
        "> Recupera tu contraseña </h1>
    <img src="https://secodeqr.herokuapp.com/secode/views/assets/img/logo.png" width="100px" alt="">    
        <hr style="width:80% ; height: 4px; border-radius: 10px; background-color: black; border: none;">
        <br>
        <p style="    font-size: 20px;padding: 1rem;display: block;background-color: rgb(109 122 138);margin: 2rem;border-radius: 20px;" >
            Por favor, haz click en el siguiente enlace para recuperar tu contraseña: siga los pasos que se le indican.
        </p>
        <a href='link' style="padding: 10px;border-radius: 10px;background-color: rgb(153 66 234);color: rgb(0 0 0);font-weight: bold;text-decoration: none;">Recuperar contraseña</a>
        <p> Si no reconoce este correo hacer caso omiso y no responder.</p>
    </div>
</body>
</html>