*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main{
    max-width: 1200px;
    height: 100%;
    margin:  2rem;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .header h1{
    text-align: center;
    display: inline;
  }
  
  .contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  1fr;
    grid-gap: 10px;
  
  }
  
  .contenedor .item{
    width: 300px;
    border-top: 10px solid #4ccfff;
    height:100%;
     border-radius: 3px;
     box-shadow: 3px 3px 5px 0px #947ad9;
     padding: 1rem;
     background: #f1f1f1;
  }
  
  .header-item h2{
    text-align: center;
    display: block;
    font-size: 30px;
  
    margin-bottom: 2rem;
  }
  