<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/form.css" />
    <title>Formulario</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header">
          <img src="../assets/img/logo.png" alt="" />
          <h2>
            Example heading <span class="badge badge-secondary">New</span>
          </h2>
        </div>
        <div class="body"></div>
        <div class="footer"></div>
      </div>
    </main>
  </body>
</html>
