<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- muy buen ejemplo -->
    <img src="https://qr-core-api.herokuapp.com/generate?text=my_texto_ejemplo" >
    <script>
        document.querySelector('img').src='https://qr-core-api.herokuapp.com/generate?text=my_texto_ejemplo';
    </script>
</body>
</html>