<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Servicios SECODE_QR</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css'>
  <link rel="stylesheet" href="./assets/css/services.css">

</head>
<body><center>
<h1 >Simple Pricing</h1></center>
  
<div id="price-tables">
  <div class="table-container">

    <!-- price table -->
    <div class="price-table">
      <h2 class="heading">Básico</h2>
      <div class="content">
        <span class="price">$9.900</span>
        <p class="description">Este plan tiene una duración de 1 Mes</p>
      </div>
      <ul class="selling-points">
        <li class="included"><i class="fa fa-check"></i>5 Códigos qr en la nube</li>
        <li class="included"><i class="fa fa-check"></i>Opción Actualizar código</li>
        <li class="excluded"><i class="fa fa-close"></i>Opción Actualizar código</li>
        <li class="excluded"><i class="fa fa-close"></i> Remote Wipe</li>
      </ul>
      <a class="buy-button" href="#">Comprar</a>
    </div>
    <!-- end price table -->


    <!-- price table -->
    <div class="price-table">
      <h2 class="heading">Estandar</h2>
      <div class="content">
        <span class="price">$26.700</span>
        <p class="description">Este plan tiene una duración de 3 Meses</p>
      </div>
      <ul class="selling-points">
        <li class="included"><i class="fa fa-check"></i>8 Códigos qr en la nube</li>
        <li class="included"><i class="fa fa-close"></i>Opción Actualizar código</li>
        <li class="included"><i class="fa fa-check"></i>2 GB of space</li>
        <li class="excluded"><i class="fa fa-close"></i> Unlimited third-party intergrations</li>
      </ul>
      <a class="buy-button" href="#">Comprar</a>
    </div>
    <!-- end price table -->

    <!-- price table -->
    <div class="price-table featured">
      <h2 class="heading">Premium</h2>
      <div class="content">
        <span class="price">$51.000</span>
        <p class="description">Este plan tiene una duración de 6 Meses</p>
      </div>
      <ul class="selling-points">
        <li class="included"><i class="fa fa-check"></i>10 Códigos qr en la nube</li>
        <li class="included"><i class="fa fa-check"></i>Opción Actualizar código</li>
        <li class="included"><i class="fa fa-check"></i> Unlimited third-party intergrations</li>
        <li class="included"><i class="fa fa-check"></i> Remote Wipe</li>
      </ul>
      <a class="buy-button" href="#">Comprar</a>
    </div>
    <!-- end price table -->
  </div>
</div>

</body>
</html>
