<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="./assets/css/custom-styles.css">
    <title></title>
  </head>
  <body>
    <main>
      <div class="header">
        <h1>titulo</h1>
      </div>

      <div class="contenedor">
        <div class="item">
          <div class="header-item">
            <h2>titulo</h2>
            <hr>
          </div>
          <div class="body-item">
            <span>precio</span>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <hr>
            <div class="contenido">
              <ul>
                <li>codig</li>
                <li>codig</li>
                <li>codig</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <button type="button" name="button" >
            comprar</button>
          </div>
        </div>

        <div class="item">
          <div class="header-item">
            <h2>titulo</h2>
            <hr>
          </div>
          <div class="body-item">
            <span>precio</span>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <hr>
            <div class="contenido">
              <ul>
                <li>codig</li>
                <li>codig</li>
                <li>codig</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <button type="button" name="button" >
            comprar</button>
          </div>
        </div>

        <div class="item">
          <div class="header-item">
            <h2>titulo</h2>
            <hr>
          </div>
          <div class="body-item">
            <span>precio</span>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <hr>
            <div class="contenido">
              <ul>
                <li>codig</li>
                <li>codig</li>
                <li>codig</li>
              </ul>
            </div>
          </div>
          <div class="footer-item">
            <button type="button" name="button" >
            comprar</button>
          </div>
        </div>


      </div>
    </main>
  </body>
</html>
