@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700&display=swap');
/* RESET */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'MuseoModerno', cursive;
}

/* MOBILE FIRST */
.main-navbar {
  position: fixed;
  bottom: 0;
  width: 200vw;
  height: 80px;
  background-color: #4ab7cf;
  text-decoration: none;
}

.navbar-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.logo {
  display: none;
}

/* ITEMS */
.navbar-item {
  width: 100%;
}
.navbar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px; /*HAY QUE PONER IGUAL QUE EL MAIN-NAVBAR*/
  text-decoration: none;
  filter: grayscale(100%) opacity(9.7);
  transition: 0.5s all ease;
}
.navbar-link:hover {
  filter: grayscale(0%) opacity(1);
}
.fa-primary {
  color: #4b0081;
  height: 30px;
  transition: 0.6s all ease;
}
.link-text {
  display: none;
}

/* MAIN */
main {
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  main {
    margin-left: 100px;
  }
  .main-navbar {
    top: 0;
    width: 100px;
    height: 100vh;
    transition: 0.5s all ease;
    border-radius: 2px;
    border-style: solid;
    border-width: 0  1px;
    border-color: #00c3ff;
  }

  .main-navbar:hover {
    width: 200px;
    background-color: #18d8e6;
  }

  .main-navbar:hover .link-text {
    display: block;
  }

  .navbar-container {
    flex-direction: column;
    justify-content: initial;
  }
  .navbar-item:last-child {
    margin-top: auto;
  }
  .navbar-link {
    flex-direction: row;
    justify-content: initial;
    height: 100px;
  }
  .navbar-link:hover {
    flex-direction: row;
    justify-content: initial;
    height: 100px;
    margin-top: 10px;
  }
  .navbar-link svg {
    margin: 7 10px;
    color: #ffffff;
  }
.link-text {
    margin-left: 10px;
    color: #000000;
    font-size:17px;
    font-weight: 400;
  }
  .fa-primary {
    height: 40px;
  }
  .logo {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    margin-right:20px;
  }
  .main-navbar:hover .logo svg {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
